# binaries
*.exe
*.dll
*.lib
*.exp
*.obj
*.so
*.do
*.o
*.a
*.dylib
*.dSYM
*.mex*
*.oct
*.py[cod]
*.tar.gz
*.zip

# build output: prefer out-of-tree builds
build/

# MacOS
.DS_Store

# VSCode
.vscode/

# setup.py build
nlopt.egg*
src/swig/nlopt_wrap.cpp
dist/
src/swig/nlopt-python_wrap.cpp
nlopt/__init__.py
nlopt/nlopt.py
